.example-component {
  color: #3c3c3c;
}

.example-component__title {
  text-align: center;
}

.example-component__articles {
  display: grid;
  padding: 1rem;
  margin: 0 auto;
  max-width: 960px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.example-component__article {
  padding: 1rem;
  background: #efefef;
}